<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Realtime smart city system using ESP32, Node.js and more stuff.">
<meta name="author" content="Benjaminas Visockis">
<title>Smart City</title>
<link rel='icon' href='assets\fire_guitar.ico' type='image/x-icon' >
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Personal number of visits JS scripts -->
<script src="assets\yourNumOfVisits.js"></script>
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>