<nav class="navbar navbar-inverse">
    <a class="navbar-brand" href="/">Smart City Monitor</a>
    <ul class="nav navbar-nav">
        <li class="active">
            <a href="/">Home</a>
        </li>
    </ul>
    <ul class="nav navbar-nav">
        <li class="active">
            <a href="/monitor">WIP Monitor</a>
        </li>
    </ul>
    <ul class="nav navbar-nav">
        <li class="active">
            <a href="/chat">Chat</a>
        </li>
    </ul>
    <ul class="nav navbar-nav">
        <li class="active">
            <a href="/panel">WIP Control Panel</a>
        </li>
    </ul>
</nav>