<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/head'); %>
</head>

<body>
    <%- include ('partials/navBar'); %>
    <div id="mario-chat">
        <h2><strong>Smart City Chat</strong></h2>
        <div id="chat-window">
            <div id="output"></div>
            <div id="feedback"></div>
        </div>
        <input id="handle" type="text" placeholder="User" />
        <input id="message" type="text" placeholder="Message" />
        <button id="send">Send</button>
    </div>
</body>
<!-- More or less mandatory scripts -->
<%- include ('partials/scripts'); %>
<!-- Socket Scripts -->
<script src="assets\chat.js"></script>

</html>