<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/head'); %>
</head>

<body>
    <%- include ('partials/navBar'); %>
    <div id="chart_div"></div>
    <div id="curve_chart"></div>
</body>
<!-- More or less mandatory scripts -->
<%- include ('partials/scripts'); %>
<!-- Socket Scripts -->
<script src="assets\city.js"></script>

</html>